body {
  max-width: 100%;
  background-color: #fac1ea;
}

.container {
  width: 960px;
  height: auto;
  margin: 50px auto;
  background-color: rgba(234, 9, 255, 0.371);
}

.header {
  padding: 50px;
}

.header p {
  margin-top: 10px;
}

h2 {
  text-align: center;
}

hr {
  width: auto;
  border-top: 3px solid lightblue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.paragraf {
  padding: 50px;
}

.paragraf p {
  margin-bottom: 10px;
}

h1 {
  width: auto;
  text-align: center;
}

h3 {
  padding-top: 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 50px auto;
  }
}
